<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Topics - Chapter <%= chapterId %></title>
  <link rel="stylesheet" href="/topics.css">
<link rel="icon" href="https://files.catbox.moe/bpi1je.gif" type="image/gif">
</head>
<body>
<h1>Chapter <%= chapterId %></h1>
  
  <% topics.forEach(t => { %>
    <div class="topic">
      <a href="/chapter/<%= chapterId %>/topic/<%= t._id %>">
        <%= t._id %>: <%= t.topicName %>
      </a>
    </div>
  <% }) %>
</body>
</html>
